
section{
    position: relative;
    background-color: blueviolet;
    height: 600px;
}
article{
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: yellow;

    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);

}